<!DOCTYPE html>
<html lang="en">
<head>
    <title>File Metadata Microservice for freeCodeCamp</title>
    <meta name="description" content="The fifth project in the freeCodeCamp Back End Development Certification: File Metadata Microservice">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <main class="container my-5">
        <h1 class="display-3 text-success">File Metadata Microservice</h1>
        <p class="lead">After you upload your file, this app will output a json with your file's size in bytes.</p>
        <h2 class="text-success">Cool, huh?</h2>
        <p>You can check it easily:</p>
        <h4>Just upload your file here:</h4>
        <form method="post" enctype="multipart/form-data">
          <input type="file" name="thefile">
          <input type="submit">
        </form>
      <p>If it's too big, probably it will timeout...</p>
    </main>
</body>
</html>